[Desktop Entry]
Encoding=UTF-8
Name=Link to django_javascript_integration_ajax_and_jquery.png
Type=Link
URL=http://od-eon.com/media/files/entry/django_javascript_integration_ajax_and_jquery.png
Icon=image-png
