{% load bookdetailextras %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ book.title }} | Cope</title>
	<link rel="icon" type="image/png" href="{{ STATIC_URL}}images/favicon.png">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/webfonts.css">
	<link id="theme-css" rel="stylesheet" href="{{ STATIC_URL }}css/book-details-day.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>

	<header>
		<div id="header-container">
			<a href="/" id="home-button"><i class="icon-home"></i></a>
			<form action="/search/" method="get">
				<input type="text" name="q" id="q" value="{{ q }}"  placeholder="Search a book">
				<span class="icon-search"></span>
			</form>
		</div>
	</header>

	<div id="container">

		<div id="left">
			<h2 id="book-title">{{ book.title }}</h2>
			<ul>
				<li>Edition: <span>{{ book.edition }}</span></li>
				<li>Authors: <span>{{ book.authors }}</span></li>
				<li>Publisher: <span>{{ book.publisher }}</span></li>
				<li>Pages: <span>{{ book.pages }}</span></li>
				<li>ISBN: <span>{{ book.isbn }}</span></li>
				<li>
					Remarks:
					<p>
						{{ book.remarks }}
					</p>
				</li>
			</ul>
		</div>

		<div id="right">
			{% if book.imageurl %}
			<img src="{{ STATIC_URL|add:'images/'|add:book.imageurl|file_exists }}" alt="{{book.title}} Cover Photo">
			{% else %}
			<img src="{{ STATIC_URL}}images/image.png" alt="{{book.title}} Cover Photo">
			{% endif %}
			<p id="book-copies">Copies Available: <span>{{ book.copies }}</span></p>
		</div>

		<div style="clear:both"></div>
	</div>
	<script>
	document.getElementById('q').focus();
	var $copies = $('#book-copies');
	var copies = $copies.find('span').text();
	console.log(copies);
	if (copies > 50) {
		$copies.css('color', 'green');
	} else if (copies > 10) {
		$copies.css('color', '#E67E22');
	} else {
		$copies.css('color', 'red');
	}
	</script>
</body>
</html>