html, body {
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 5px;
	background-color: #F8F5F5;
}

body * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'ubuntu', sans-serif;
	font-weight: normal;
}

header {
	margin-top: 20px;
}

#header-container {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding: 5px;
}

#home-button {
	display: inline-block;
	padding: 6px 20px;
	font-size: 25px;
	border-radius: 1px;
	color: #d9d6d6;
	text-decoration: none;
}

#home-button:hover {
	color: #579FFE;
}

form {
	min-width: 300px;
	max-width: 600px;
	width: 50%;
	margin: 0;
	display: inline-block;
	position: relative;
}

#q {
	width: 100%;
	margin: 0;
	padding: 0.6em;
	outline: 0;
	background: #FCFCFC;
	font: bold 1em/1.4em 'open sans', sans-serif;
	color: #AAA;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	letter-spacing: 0.12em;
	word-spacing: .17em;
	border: 2px solid transparent;

	-webkit-transition: border 0.25s, box-shadow 0.25s, color 0.25s, font-weight 0.25s;
	-moz-transition: border 0.25s, box-shadow 0.25s, color 0.25s, font-weight 0.25s;
	-ms-transition: border 0.25s, box-shadow 0.25s, color 0.25s, font-weight 0.25s;
	-o-transition: border 0.25s, box-shadow 0.25s, color 0.25s, font-weight 0.25s;
	transition: border 0.25s, box-shadow 0.25s, color 0.25s, font-weight 0.25s;
}

#q:focus {
	box-shadow: 0 0 40px rgba(0,0,0,.3);
	border: 2px solid #AAA;
	color: #555;
}

form .icon-search {
	position: absolute;
	color: #AAA;
	font-size: 1em;
	top: .8em; right: 10px;
}

#container {
	width: 70%;
	margin: 40px auto;
	background-color: #F8F5F5;
	box-shadow: 0 0 12px rgba(0,0,0,.2);
}

#container {
  position: relative;
}

#container:before, #container:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 13px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #F8F5F5;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

#container:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

#left {
	padding: 20px 30px;
	float: left;
	width: 60%;
	color: #666;
}

#left ul {
	list-style: none;
	padding-left: 0;
}

#left ul li {
	margin: 10px 0;
	font-size: 14px;
}

#left ul li span {
}

#left ul li p {
	font-family: sans-serif;
	color: #333;
}

#right {
	width: 40%;
	float: right;
	padding: 35px 10px 10px;
	text-align: center;
}

#right img {
	max-width: 80%;
}
