html, body {
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 5px;
	background-color: #F8F5F5;
}


body * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'ubuntu', sans-serif;
	font-weight: normal;
}

header {
	margin-top: 20px;
}

#header-container {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

#home-button {
	display: inline-block;
	padding: 6px 20px;
	font-size: 25px;
	color: #D9D6D6;
	text-decoration: none;
	vertical-align: bottom;
}

#home-button:hover {
	color: #579FFE;
}

form {
	min-width: 300px;
	max-width: 600px;
	width: 50%;
	display: inline-block;
	position: relative;
}

#q {
	width: 100%;
	margin: 0;
	height: 45px;
	padding: 5px 30px 5px 10px;
	outline: 0;
	background: #FCFCFC;
	font: bold 1em/1.4em 'open sans', sans-serif;
	color: #AAA;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	letter-spacing: 0.12em;
	word-spacing: .17em;
	border: 2px solid transparent;

	-webkit-transition: border 0.25s, box-shadow 0.25s, color 0.25s, font-weight 0.25s;
	-moz-transition: border 0.25s, box-shadow 0.25s, color 0.25s, font-weight 0.25s;
	-ms-transition: border 0.25s, box-shadow 0.25s, color 0.25s, font-weight 0.25s;
	-o-transition: border 0.25s, box-shadow 0.25s, color 0.25s, font-weight 0.25s;
	transition: border 0.25s, box-shadow 0.25s, color 0.25s, font-weight 0.25s;
}

#q:focus {
	box-shadow: 0 0 30px rgba(0,0,0,.3);
	border: 2px solid #AAA;
	color: #555;
}

form .icon-search {
	position: absolute;
	color: #AAA;
	font-size: 1em;
	top: .8em; right: 10px;
}

#theme-button {
	position: absolute;
	top: .71em; right: 30px;
	cursor: pointer;
	font-size: 1.2em;
	color: #AAA;
}

#book-container {
	width: 80%;
	margin: 10px auto;
	padding: 30px 0;
	text-align: center;
}

#book-container > a {
	display: inline-block;
	margin: 1em;
}

.book-frame{
	display: inline-block;
	overflow: hidden;
	width: 225px; height: 300px;
	background-color: white;
	padding: 10px;
	vertical-align: bottom;
	box-shadow: 0 0 3px rgba(0, 0, 0, .2),
				inset 0 0 12px rgba(0, 0, 0, .4);
}

.book-inner-frame {
	position: relative;
	overflow: hidden;
	height: 90%; width: 100%;
}

.book-inner-frame img {
	height: 100%; width: 100%;
	-webkit-transition: -webkit-transform .5s;
	-moz-transition: -moz-transform .5s;
	-ms-transition: -ms-transform .5s;
	-o-transition: -o-transform .5s;
	transition: transform .5s;
}

.book-frame:hover .book-inner-frame img {
	-webkit-transform: scale(1.5, 1.5);
	-moz-transform: scale(1.5, 1.5);
	-ms-transform: scale(1.5, 1.5);
	-o-transform: scale(1.5, 1.5);
	transform: scale(1.5, 1.5);
}

.book-details {
	position: absolute;
	text-align: left;
	top: 0; left: 0;
	height: 100%; width: 100%;
	margin-left: -100%;
	background-color: rgba(248, 245, 245, 0.5);
	-webkit-transition: margin-left .5s;
	   -moz-transition: margin-left .5s;
		-ms-transition: margin-left .5s;
		 -o-transition: margin-left .5s;
			transition: margin-left .5s;
}

.book-frame:hover .book-details {
	margin-left: 0;
}

.book-details > div {
	height: 30px;
	width: 85%;
	margin: 1em;
	padding-right: 10px;
	overflow: hidden;
	background-color: white;
	font: normal 0.9em/100% 'ubuntu mono', sans-serif;
	border-radius: 5px;
	color: #444;
	vertical-align: sub;
}

.book-details > div > div {
	display: inline-block;
	height: 30px; width: 30px;
	margin-right: 10px;
	padding: 7px;
	font-size: 1.2em;
	background-color: #579FFE;
	color: white;
	text-align: center;
}

.book-name {
	height: 10%;
	margin: 0;
	padding-top: 5px;
	color: #888;
	font: normal 0.9em/2em 'track';
	overflow: hidden;
}
