html, body {
	width: 100%;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 20px 5px 0;
	background-color: #2C3E50;
	position: relative;
}


body * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'ubuntu', sans-serif;
	font-weight: normal;
}

header {
	height: 2.40em;
}

#header-container {
	width: 80%;
	margin: 0 auto;
	height: 2.40em;
	text-align: center;
}

#site-name {
	font: normal 1.5em/1.5em '47', sans-serif;
	display: inline-block;
	color: #888;
	letter-spacing: .15em;
	margin: 0 20px 0 10px;
}

form {
	width: 50%;
	display: inline-block;
	position: relative;
}

#q {
	width: 100%;
	margin: 0;
	padding: 0.6em;
	outline: 0;
	background-color: #34495E;
	font: bold 1em/1.4em 'open sans', sans-serif;
	color: #DDD;
	box-shadow: 0 0 10px rgba(255, 255, 255, .2);
	letter-spacing: 0.12em;
	word-spacing: .17em;
	border: 2px solid rgba(200,200,200,.1);

	-webkit-transition: border 0.25s, box-shadow 0.25s, color 0.25s, font-weight 0.25s;
	-moz-transition: border 0.25s, box-shadow 0.25s, color 0.25s, font-weight 0.25s;
	-ms-transition: border 0.25s, box-shadow 0.25s, color 0.25s, font-weight 0.25s;
	-o-transition: border 0.25s, box-shadow 0.25s, color 0.25s, font-weight 0.25s;
	transition: border 0.25s, box-shadow 0.25s, color 0.25s, font-weight 0.25s;
}

#q:focus {
	box-shadow: 0 0 20px rgba(255, 255, 255, .3);
	border: 2px solid rgba(255,255,255,.3);
	color: white;
}

form .icon-search {
	position: absolute;
	color: #AAA;
	font-size: 1em;
	top: .8em; right: 10px;
}

#theme-button {
	position: absolute;
	top: .71em; right: 30px;
	cursor: pointer;
	font-size: 1.2em;
	color: #808080;
}

#book-container {
	width: 80%;
	margin: 10px auto;
	padding: 30px 0;
	text-align: center;
}

#book-container > a {
	display: inline-block;
	margin: 1em;
}

.book-frame{
	display: inline-block;
	width: 300px; height: 400px;
	background-color: #34495E;
	padding: 10px;
	box-shadow: 0 0 5px rgba(200, 200, 200, .2);
}

.book-inner-frame {
	position: relative;
	overflow: hidden;
	height: 90%; width: 100%;
}

.book-inner-frame img {
	height: 100%; width: 100%;
	-webkit-transition: -webkit-transform .5s;
	-moz-transition: -moz-transform .5s;
	-ms-transition: -ms-transform .5s;
	-o-transition: -o-transform .5s;
	transition: transform .5s;
}

.book-frame:hover .book-inner-frame img {
	-webkit-transform: scale(1.5,1.5);
	   -moz-transform: scale(1.5,1.5);
	    -ms-transform: scale(1.5,1.5);
	     -o-transform: scale(1.5,1.5);
	        transform: scale(1.5,1.5);
}

.book-details {
	position: absolute;
	text-align: left;
	top: 0; left: 0;
	height: 100%; width: 100%;
	margin-left: -100%;
	background-color: rgba(255, 255, 255, .5);
	-webkit-transition: margin-left .5s;
	   -moz-transition: margin-left .5s;
	    -ms-transition: margin-left .5s;
	     -o-transition: margin-left .5s;
	        transition: margin-left .5s;
}

.book-frame:hover .book-details {
	margin-left: 0;
}

.book-author, .book-publisher {
	background-color: white;
	border-radius: 5px;
	overflow: hidden;
	height: 35px;
	width: 85%;
	padding-right: 10px;
	color: #666;
	margin: 1em;
}

.book-author div,
.book-publisher div {
	padding: 7px 10px;
	height: 35px; width: 35px;
	background-color: #579ffe;
	color: white;
	margin-right: 10px;
	display: inline-block;
}

.book-name {
	height: 15%;
	margin: 0;
	padding-top: 5px;
	color: #BBB;
	font: normal 0.9em/2.5em 'track';
}
