body {
	background-color: #DDD;
	padding: 1px;
	overflow: hidden;
}

body * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#container {
	width: 70%;
	margin: 8em auto 0;
	min-width: 800px;
	padding: 1px;
}

#logo {
	width: 70%;
	margin: 0 auto;
	color: #FAFAFA;
	text-align: center;
	letter-spacing: 0.2em;
	font-family: '47';
	font-size: 7em;
	cursor: default;
}

#logo h1 {
	margin: 0;
}

#search-form {
	width: 60%;
	margin: 0 auto;
	position: relative;
}

#q {
	padding: 0.6em 0.4em;
	height: 2.6em;
	font: normal 1em/1.4em 'open sans', sans-serif;
	width: 100%;
	border: 2px solid transparent;
	background: #FCFCFC;
	color: #AAA;
	outline: 0;
	letter-spacing: 0.12em;
	word-spacing: .17em;

	-webkit-transition: border 0.25s, box-shadow 0.25s, color 0.25s, font-weight 0.25s;
	-moz-transition: border 0.25s, box-shadow 0.25s, color 0.25s, font-weight 0.25s;
	-o-transition: border 0.25s, box-shadow 0.25s, color 0.25s, font-weight 0.25s;
	-ms-transition: border 0.25s, box-shadow 0.25s, color 0.25s, font-weight 0.25s;
	transition: border 0.25s, box-shadow 0.25s, color 0.25s, font-weight 0.25s;
}

#q:focus {
	box-shadow: 0 0 20px rgba(0,0,0,.3);
	border: 2px solid #AAA;
	color: #555;
}

.icon-search {
	position: absolute;
	color: #AAA;
	font-size: 1em;
	top: .75em; right: 10px;
}

#theme-button {
	position: fixed;
	bottom: 15px; right: 30px;
	cursor: pointer;
	font-size: 1.3em;
	color: #808080;
}
